header{
    margin:5px;
    padding: 10px;
    border-bottom: solid black;
    border-top: solid black;
    border-width: 90%;
    
  }
  #header_menu{
    display: inline-flex;
  }
  
  #menu_spacing{
    min-width: 1000px;
    width: 100%;
  }
              
  div a{
   padding:6px;
   text-align: center;
   text-decoration: none;
   justify-content: space-around;
  }
  #logo{
    font-family: Arial;
    font-size: xx-large;
    display: inline-flex;
    width: 100%;
  }
  h1, h2{
    text-align: center;
    margin-bottom: 50px;
  }
  p{
    font-size: medium;
    text-align: center;
  }
  .member{
    max-width: 400px;
    height: 120px;
    margin-left: 50px;
  }
  .teamImages{
    width: 100px;
    border-radius: 90%;
    float: left;
  }
  section{
    margin-bottom: 50px;
  }