header{
    margin:5px;
    padding: 10px;
    border-bottom: solid black;
    border-top: solid black;
    border-width: 90%;
    
  }
  #header_menu{
    display: inline-flex;
  }
  
  #menu_spacing{
    min-width: 1000px;
    width: 100%;
  }
              
  div a{
   padding:6px;
   text-align: center;
   text-decoration: none;
   justify-content: space-around;
  }
  #logo{
    font-family: Arial;
    font-size: xx-large;
    display: inline-flex;
    width: 100%;
  }
  h1, h2{
    text-align: center;
    margin-bottom: 50px;
  }
  p{
    font-size: medium;
    text-align: center;
  }
  .member{
    max-width: 400px;
    height: 120px;
    margin-left: 50px;
  }
  .teamImages{
    width: 100px;
    border-radius: 90%;
    float: left;
  }
  section{
    margin-bottom: 50px;
  }
  .intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: aqua;
    transition: 2s;
  }
  .logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform:translate(-50%,-50%);
    color:white;
  }
  .animateLogo{
    position:relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
  }
  .animateLogo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 1s;
  }
  .animateLogo.fade{
    bottom:150px;
    opacity: 0;
    transition: ease-in-out 1s;
  }



/* importing fonts */
@import url('https://fonts.googleapis.com/css?family=Calibri');

/* main styles */
h1 {
    font-family: "Calibri", sans-serif;
}
h2 {
    font-family: "Calibri", sans-serif;
    /* color: #5C8552;
    background-color: #171717; */
}
p , figcaption, caption{
    font-family: 'Calibri', sans-serif;
}

/* main */

html, body{
  height:100%;
  scroll-behavior: smooth;
}

:target{
  scroll-margin-top: 4.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* nav */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 10%;
  width: 100%;
  position: fixed;
  z-index: 2;
  overflow: hidden;
  background-color: #171717;
  max-height:150px;
}

.logo{
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li{
  display: inline-block;
  padding: 0px 20px;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #5C8552
}

li, a, button{
  font-family: "Calibri", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #F4F8FD;
  text-decoration: none;
}

button{
  padding: 9px 25px;
  background-color: #5C8552;
  border-width:5px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #171717;
}

button:hover{
  border-color:#5C8552;

}

/* Locations Section */

}

body{ 
  background-image: linear-gradient(150deg,#171717,#171717 );
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  align-items: center;
  margin: auto;  
  
}
.locations-tab{
    background-image: linear-gradient(150deg,#171717,#171717 );
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top:2%;
    padding-bottom: 2%;
}
.locations-card{
  flex: 1;
  max-width: 600px;
  background-color: #fff;
  margin: 500px 20px;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  cursor: pointer;
  align-items: center; 
  overflow: hidden;
  margin: auto;
  color: #2d2d2d;
  transition: .6s linear;
}


.tab-one .locations-header{
  background-color: #5C8552;
  display: inline-block;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0 0 200px 200px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .6s linear;
}
.tab-two .locations-header{
  background-color: #5C8552;
  display: inline-block;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0 0 200px 200px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .6s linear;
}

.tab-one .loca{
  font-size: 70px;
  color: #5C8552;
  margin: 40px 0;
  transition: .2s linear;
}
.tab-two .loca{
  font-size: 70px;
  color: #5C8552;
  margin: 40px 0;
  transition: .2s linear;
}

.loca sup, .loca span{
  font-size: 15px;
  font-weight: 600;
}
.loca{
    color: #171717
}

.locations-card:hover .loca{
  color: #171717;

}


.locations-card li{
  font-size: 19px;
  padding: 12px 0;
  color: #171717;

}

.tab-one .order-btn{
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 80px;
  border: 2px solid #171717;
  color: #171717;
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .3s linear;
}

.tab-one .order-btn:hover{
  background-color: #5C8552;
  color: #fff;
}
.tab-two .order-btn:hover{
  background-color: #5C8552;
  color: #fff;
}
.tab-two .order-btn{
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 80px;
  border: 2px solid #171717;
  color: #171717;
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .3s linear;
}

@media screen and (max-width:1100px){
  .locations-card{
    flex: 100%;
  }
}


